.calc-header {
  height: 20%;
}

img {
  max-width: 72%;
  max-height: 72%;
}

.calculate-button {
  height: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.jumbotron-output {
  height: 90%;
  position: absolute;

}
