<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">Navbar</a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" routerLink="/home" routerLinkActive="active" mdbWavesEffect>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/calculation" routerLinkActive="active" mdbWavesEffect>Calculation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/benchmarks" routerLinkActive="active" mdbWavesEffect>Benchmarks</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
