<main>
  <div class="container h-100">
    <section class="section feature-box">
      <h1 class="section-heading pt-4">What does it do?</h1>
      <p class="section-description lead grey-text">Detect the a person's face from the provided image and estimate the
        age and gender. The face detection functionality was developed using OpenCV library and the classification part,
        using Keras library</p>

      <div class="row features-small pt-2">

        <div class="col-lg-7">

          <div class="row pb-3">
            <div class="col-2 col-md-1">
              <i class="fa fa-bank blue-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Steps</h5>
              <p class="grey-text">Access the Calculation page, upload an image that contains a face and press the
                calculate button. The result should appear on the right side</p>
            </div>
          </div>

          <div class="row pb-3">
            <div class="col-2 col-md-1">
              <i class="fa fa-code blue-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Technology</h5>
              <p class="grey-text">The Agen application is developed using Microservices architecture and deployed using
                Docker.</p>
            </div>
          </div>

          <div class="row pb-3">
            <div class="col-2 col-md-1">
              <i class="fa fa-money blue-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Results</h5>
              <p class="grey-text">The best accuracy for gender classification, during validation, is approximately
                79,1%. The best accuracy for age classification, during validation, is approximately 24,2%.</p>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</main>
